.mvh {
    height: 90vh;
}

.svh {
    height: 10vh;
}

.h-10b {
    height: 10vh;
}

.h-90b {
    height: 90vh;
}

.bimg {
    background-image: url('../images/back.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw; 
}
